@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center pt-5">
    <h1>Students Grade Management System</h1>
    <div>
        <a asp-controller="Students" asp-action="Create" class="btn btn-outline-secondary text-secondary"> <i class="bi bi-person-plus"></i> Add Student</a>
    </div>
    
</div>
